@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 35px; 
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 15px 20px;
    font-size: 24px;
}

.hero-section {
    position: relative;
    background: url('assets/library2.jpg') center/cover no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 250px 0;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    margin: 0 auto;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
}

.hero-content h1 {
    font-size: 3.5vw;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.8vw; 
    margin-bottom: 3vw; 
}

.hero-content a.btn {
    font-size: 1.8vw; 
}

.academics-section {
    text-align: center; 
    padding: 50px 0;
}

.academics-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.academics-section p {
    font-size: 18px;
    color: #666;
}

.books-catagories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.program {
    height: 200px;
    width: 40%;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.program:nth-child(1) {
    background-image: url('assets/books4.webp');
}

.program:nth-child(2) {
    background-image: url('assets/books5.jpg');
}

.program:nth-child(3) {
    background-image: url('assets/books6.png');
}

.program:nth-child(4) {
    background-image: url('assets/books7.webp');
}

.program:nth-child(5) {
    background-image: url('assets/books8.jpg');
}

.program:nth-child(6) {
    background-image: url('assets/books3.webp');
}

.program h3,
.program p {
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.program h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.program p {
    font-size: 16px;
}

.about-image{
    height: 90%;
}

.photo-gallery-section {
    text-align: center;
    padding: 50px 0;
}

.photo-gallery-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.photo {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.login-body {
    background: url('assets/books8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
    

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    max-width: 400px;
    margin: 90px auto;
    padding: 40px;
    background: #ffffff45;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    /* width: 100%;
    height: 100%; */
    /* background: transparent; */
    border: 2px solid rgb(255, 255, 255);
    /* border: none; */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff6b;
}

.login-button-container {
    background-color: #0072ff; 
    padding: 3px;
    border-radius: 40px;
    text-align: center;
}

#loginButton {
    background: transparent; 
    color: #ffffff; 
    border: 1px solid #0072ff; 
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #0072ff; 
    color: #4c00ff;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin-left: 0;
    }

    .navbar-toggler {
        margin-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .hero-content {
        max-width: 90%;
    }

    .hero-content h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .hero-content p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .hero-content a.btn {
        font-size: 16px;
    }
}


@media screen and (max-width: 767px) {
    .academics-section {
        padding: 30px 0;
    }

    .academics-section h2 {
        font-size: 28px;
    }

    .academics-section p {
        font-size: 16px;
    }

    .books-catagories {
        flex-direction: column;
        align-items: center;
    }

    .program {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .about-image {
        height: 50%;
    }
}

@media screen and (max-width: 767px) {
    .photo-gallery-section {
        padding: 30px 0;
    }

    .photo-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }
}

